<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Documentate WordPress Coding Standards" xsi:noNamespaceSchemaLocation="https://schema.phpcodesniffer.com/phpcs.xsd">
    <description>WordPress Coding Standards for the Documentate plugin.</description>

    <file>admin</file>
    <file>includes</file>
    <file>public</file>
    <file>documentate.php</file>
    <file>uninstall.php</file>

    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/assets/*</exclude-pattern>
    <exclude-pattern>*/node_modules/*</exclude-pattern>
    <exclude-pattern>*/tests/*</exclude-pattern>
    <exclude-pattern>*/wp/*</exclude-pattern>

    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="8"/>
    <arg name="warning-severity" value="0"/>

    <config name="minimum_wp_version" value="6.1"/>

    <rule ref="WordPress"/>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element value="documentate"/>
                <element value="default"/>
            </property>
        </properties>
    </rule>

    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array">
                <element value="documentate"/>
                <element value="DOCUMENTATE"/>
            </property>
        </properties>
    </rule>
</ruleset>
